* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
  }
   
  .icn {
    height: 30px;
  }
   
  .searchbar,
  .message,
  .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .logosec {
    gap: 10px;
  }
   
  .searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
  }
  .searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
  }
   
  .message {
    gap: 40px;
    position: relative;
    cursor: pointer;
  }
  .circle {
    height: 7px;
    width: 7px;
    position: absolute;
    border-radius: 50%;
    left: 19px;
    top: 8px;
  }

  .main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
  }
   
  .main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
  }

  .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: -300px;
  }
  .nav {
    min-height: 91vh;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
  }
  .navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
  }
  .navcontainer::-webkit-scrollbar {
    display: none;
  }
  .navclose {
    width: 80px;
  }
  .nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
  }
  .nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
  }
  .nav-img {
    height: 30px;
  }
   
  .nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .heading{
    position: absolute;
    top: 50px;
    left: 250px;
    width: 50vw;
  }

  .box {
    top: 40px;
    height: 80px;
    width: 225px;
    border-radius: 2px;
    box-shadow: 1px 1.5px 5px rgba(122, 41, 41, 0.751);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }

  .main{
    position: absolute;
    width: 150vh;
    height: 100vh;
    margin-left: 225px;
    margin-top: 250px;
  }
  




